<div class="mx-auto m-4 col-lg-3">
  <div class="card p-3 bg-light">
    <h2><%= @question.capitalize %></h2>
    <p>--You</p>
  </div>
  <p>-----------------------------------------------</p>
  <div class="card p-3 bg-light">
    <h2><%= @answer.capitalize %></h2>
    <p>--Your coach</p>
  </div>
  <p>-----------------------------------------------</p>
  <a href="/ask">Ask a new quesiton</a>
</div>
